{% extends 'admin.twig' %}

{% set title %}FlagCounter{% endset %}

{% block content %}
<div
    vue-entry="FlagCounter.UrlGenerator"
    title="{{ title|e('html_attr') }}"
    fonts="{{ fonts|json_encode }}"
    periods-names="{{ periodsNames|json_encode }}"
></div>
{% endblock %}